html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    min-height: 100%;

}
body {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif;
    background-color: #FAFAFA;
    margin: auto;
}

@media (min-width: 1240px) {
    .container {
        max-width: 1290px !important;
        margin: auto !important;
        height: 100%;
    }
}
.container {
    background-color: #FAFAFA;
    width: 100%;
}

/* navigation part */
.nav {
    background-color: #FAFAFA;
    width: 1290px;
    border-bottom: 1px solid grey;
    position: absolute;
}
.navbar {
    padding: 15px;
    align-items: center;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.navbar-menu > ul {
    display: flex !important;
    align-items: center;
}
.navbar-menu > ul > li > a {
    list-style: none;
    font-size: 17px;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: black;

}
.navbar-menu > ul > li {
    list-style: none;
}
.navbar-menu > ul > li > a:hover {
    color: #0F298B;
    font-weight: 600;
}
.navbar-menu ul > li > .visited-link:visited {
    color: #0F298B;
    font-weight: 700;
}
.brand > h1 {
    font-family: "Oleo Script", cursive;
}

.btn {
    border: none;
    background-color: #2549d3;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 600 !important;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;

}
.btn:hover {
    box-shadow: #0F298B;
}

#get-started {
    cursor: pointer;
    margin-right: 130px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}

.section1 {
    padding-top: 140px;
    width: 80%;
    margin: auto;
}
.material-symbols-rounded {
    font-variation-settings: "FILL" 500, "wght" 400, "GRAD" 0, "opsz" 48;
}
.icon-edit {
    font-size: 40px;
    background-color: #0f298b;
    color: #FAFAFA;
    border-radius: 50px;
}
.section1a {
    display: flex;
    align-items: center;
}
.image1 {
    height: 350px;
    width: 450px;
    margin-left: 45px;

}
.image1 > img {
    width: inherit;
    height: inherit;
}
.section1text1 > h1 {
    color: #0F298B;
    font-size: 40px;
    font-weight: 800;
}

.section1text1 > p {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    color: black;
}
.section1btn {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}

.section2{
    width: 90%;
    margin: 100px auto 0;
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.section2 .section2a {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 30px;
}
.section2b > option {
    color: grey;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}
#search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}
#search > span {
    margin-right: 10px;
    color: #FAFAFA;
    padding-right: 20px;
    padding-left: -40px;
}
.b-icon {
    display: flex;
    align-items: center;

}
.b-icon > label,
span {
    color: #0f298b;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
#search.material-symbols-rounded {
    font-size: 23px;
    cursor: pointer;
}

.products {
    margin: 90px auto 0;
}
.tproduct {
    color: #0f298b;
    font-size: 20px;
    font-weight: 300;
}

.products .opproduct {
    text-align: center;
}
.card1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 .card1a {
    width: 30%;
    max-width: 30%;
    background-color: #FAFAFA;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: block;
    height: 300px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;

}
.card1 .card1a:hover {
    box-shadow: grey 6px 2px 16px 0px;
    cursor: pointer;
}
.imgcard1a {
    height: 100px;
    width: 100%;
    justify-content: center;
}
.imgcard1a > img {
    height: inherit;
    margin: 0 auto;
}

.imgcard1ainfo > h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.imgcard1ainfo > p {
    font-size: 17px;
    font-weight: 450;
    margin-top: 20px;
    color: rgb(75, 73, 73);
}
.pparagraph {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer {
    height: 600px;
    background-color: #0f298b;
    max-width: 1024px;
    padding-top: 100px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 80px;
    padding-top: 40px;
}
.fdetails {
    width: 20%;
}
.fdetails > h2 {
    color: #FAFAFA;
    padding-right: 20px;
    padding-bottom: 5px
}
.flogo {
    color: #FAFAFA;
    font-size: 13px;
}
.fdetails > ul > li {
    list-style: none;
    margin-top: 20px;
}
.fdetails > ul > li a {
    text-decoration: none;
    margin-top: 20px;
    color: #FAFAFA;
    font-size: 15px;
}
.fdetails > p {
    color: #FAFAFA;
    font-size: 15px;
}