@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

html,
body {
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 200px;
}

@media (max-width: 576px) {
    .container {
        margin: 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem 0;
    border-bottom: 2px solid gray;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-weight: bolder;
    padding: 10px;
    font-family: "FiraMono Nerd Font Mono";
    color: #475569;
    border-radius: 5px;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-link {
    font-size: 0.8rem;
    font-weight: 400;
    color: #475569;
    padding: 10px;
    border-radius: 5px;
}

.nav-link:hover, .nav-brand:hover {
    color: black;
    background-color: #0dcaf0;
}


.get-started {
    color: white;
    background-color: #198754;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -10%;
        width: 100%;
        top: 1rem;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        /*
        transition: 0.3s;
         */
    }
    .nav-menu {
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .nav-brand {
        display: none;
    }
}

