html,
body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}
* {
    box-sizing: border-box;
}
#nav {
    text-align: center;
    margin-bottom: 15px;
}
.nav {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #888;
}
#heading {
    font-weight: bolder;
    float: left;
    font-size: 22px !important;
    font-family: "Ubuntu Thin";
}

#getStarted {
    background-color: #16d1b1;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    float: right;
    cursor: pointer;
}
#learnMore {
    background-color: #06879f;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#header-title {
    color: #615f5f;
}

#section1 {
    width: 800px;
    margin: 50px auto 0 auto;
}
#section1a    {
    width: 60%;
    float: left;
}
#section1b  {
    width: auto;
}
